@model IEnumerable<BlueHorizon.Models.Animal>

<h2>Animals</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome Comum</th>
            <th>Nome Científico</th>
            <th>Habitat</th>
            <th>Status de Conservação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnimalId</td>
            <td>@item.NmComum</td>
            <td>@item.NmCientifico</td>
            <td>@item.Habitat</td>
            <td>@item.StatConservacao</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalId">Deletar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Adicionar Novo</a>
